




<table border="0" cellspacing="0" cellpadding="0" class="table-cert">
<tbody><tr>
<td width="50%" valign="top"><p><img width="150" height="67" src="[[logolink]]" alt="Globe-Underwriting-Logo"></p></td>
<td width="50%" valign="top"><p align="right"><strong style="font-size: 140%;">Certificate    of Insurance</strong><br>
  <strong>Certificate No:-</strong> <strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><br>
  <strong>Security No</strong>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong><strong><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></strong></p></td>
</tr>
<tr>
<td width="56%" valign="top"><p style="text-align: justify"><strong>A    division of Epsilon Insurance Broking Services Pty Ltd</strong><br><strong>ABN: &nbsp;68 097 402 134&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>AFS Licence Number 245612</strong><strong> </strong><br><strong>Level &nbsp;&nbsp;4, Suite 40168 York Street, Sydney &nbsp;&nbsp;&nbsp;NSW &nbsp;&nbsp;&nbsp;&nbsp; 2000</strong></p></td>
<td width="44%" valign="top"><p align="right"><strong>ORIGINAL</strong></p></td>
</tr>
</tbody></table>
<table border="0" cellspacing="0" cellpadding="0" class="table-cert">
<tbody><tr>
<td width="100%" valign="top"><br><br>This is to Certify that in    consideration of the payment of the agreed premium $[[shortlineg]] (or to order)<u> </u>interest in the    shipment specified below is insured under and subject to the terms and    conditions of Marine Cargo Policy GUA &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; provided by Global Underwriting Australia    on behalf of various Lloyds Syndicates.<br><br></td>
</tr>
</tbody></table>
<table border="1" cellspacing="0" cellpadding="5" width="100%" class="table-cert">
<tbody><tr>
<td width="50%" colspan="7" valign="top"><p><strong>Consignor</strong><br>[[consignor]]</p></td>
<td width="50%" colspan="5" valign="top"><p><strong>Date of Shipment</strong><br>
[[shipmentdate]]<strong> </strong></p></td>
</tr>
<tr>
<td width="50%" colspan="7" valign="top"><p><strong>Consignee</strong><br>[[consignee]]<strong> </strong></p></td>
<td width="50%" colspan="5" valign="top"><p><strong>Insurance Value</strong><br>[[insurance]]<strong> </strong></p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p><strong>&nbsp;</strong></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p><strong>Place of    Origin</strong><br>[[transitfrom]]<strong> </strong></p></td>
<td width="50%" colspan="5" rowspan="3" valign="top" style="border: none; border-bottom: 1px solid #000"><p><strong>Claims    Representative Details: </strong></p>
  <p><strong>In the    event of a claim report details to:-</strong><br>[[medline]] </p>
  <p><strong>New    claims may also be reported electronically to: &nbsp;</strong><br>[[medline]]</p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p><strong>Ocean    Vessel / Aircraft</strong><br>[[cargocat]]<strong> </strong></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p><strong>Port of    Loading</strong><br>[[portloading]]<strong> </strong></p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="25%" colspan="4" valign="top" style="border: none; border-bottom: 1px solid #000"><p><strong>Port of    Discharge</strong><br>[[portdischarge]]<strong> </strong></p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000; border-bottom: 1px solid #000"><p><strong>Place of    Delivery</strong><br>[[transitto]]<strong> </strong></p></td>
</tr>
<tr style="border: none;">
<td width="25%" colspan="2" valign="top" style="border: none; border-right: 1px solid #000"><p><strong>Marks and    Numbers</strong><br>[[shortlineg]]</p></td>
<td width="25%" colspan="4" valign="top" style="border: none; border-right: 1px solid #000"><p><strong>Number    &amp; Kind of Packages</strong><br>[[shortlineg]]</p></td>
<td width="25%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000"><p><strong>Description    of Goods </strong><br>[[description]]</p></td>
<td width="12%" colspan="2" valign="top" style="border: none; border-right: 1px solid #000"><p><strong>Gross    Weight</strong><br>[[shortlineg]]</p></td>
<td width="13%" valign="top" style="border: none; border-right: 1px solid #000"><p><strong>Measurements</strong><br>[[shortlineg]]</p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="100%" colspan="12" valign="top" style="border: none;"><p><strong>General Insuring Conditions:</strong></p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="100%" colspan="12" valign="top" style="border: none; border-color: #fff"><p>Institute Cargo Clauses (A) ///    Institute Cargo Clauses (Air) /// Institute Frozen Food Clauses (A) /// The    applicable Institute War Clauses /// The applicable Institute Strikes Clauses    /// Institute Replacement Clause /// Institute Classification Clause 1/01/2001 /// Termination    of Transit Clause (Terrorism) /// Cargo ISM Endorsement /// Cargo ISPS    Endorsement /// Institute Cyber Attack Exclusion Clause /// Institute    Classification Clause /// Embargo &amp; Sanctions Exclusion Clause ///    Institute Radioactive Contamination, Chemical, Biological, Bio-chemical and    Electromagnetic Weapons Exclusion Clause.</p></td>
</tr>
<tr style="border: none; border-color: #fff">
<td width="14%" valign="top" style="border: none; border-color: #fff"><p><strong>Deductible</strong></p></td>
<td width="15%" colspan="2" valign="top" style="border: none; border-color: #fff"><p><strong>$</strong>[[deductible]]<strong> </strong></p></td>
<td width="20%" colspan="3" valign="top" style="border: none; border-color: #fff"><p>each and every claim</p></td>
<td width="36%" colspan="4" valign="top" style="border: none; border-color: #fff"><p align="right"><strong>Letter of Credit No: (if applicable)</strong><strong> </strong></p></td>
<td width="15%" colspan="2" valign="top" style="border: none; border-color: #fff"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
</tr>
<tr style="border: none; border-bottom: 1px solid #000">
<td width="100%" colspan="12" valign="top"><p><strong>Procedure    in the Event of Loss or Damage for which the insurer may be Liable:</strong><br>
  <u>Liability of Carriers, Bailees or Other Third Parties</u>: It is the duty of the Assured and their agents, in all cases to take    such measures as be reasonable for the purpose of averting or minimising a    loss and to ensure that all rights against carriers, bailees or other third    parties are properly preserved and exercised, in particular the Assured or    their agents are required:- (1) To claim immediately on the carriers, port    authorities or other bailees for any missing packages. (2) In no    circumstances except under written protest to give clean receipts where goods    are in doubtful condition. (3) When delivery is made by container, to ensure    that the Container and its seals are examined immediately by their respective    official. If the container is delivered damaged or with seals broken or    missing or with seals other than as stated in the shipping documents, to    clause the delivery receipt accordingly and retain all defective or irregular    seals for subsequent identification. (4) To apply immediately for survey by    carriers’ or other bailees’ representatives if any loss or damage be apparent    and claim on the carriers or other bailees for any actual loss or damage    found at such survey. (5) To give notice in writing to the carriers or other    bailees within three days of delivery if the loss or damage was not apparent    at the time of taking delivery. NOTE:- The consignees or their agents are    recommended to make themselves familiar with the regulations of the port    authorities at the port of discharge.<br>
  <u>Survey and Claim Settlement</u>: In the event    of loss or damage which may involve a claim under this insurance, immediate    notice of such loss or damage should be given to and a survey report obtained    from the office or agent nominated below.<br>
  <u>Documentation of Claims</u>: To enable claims to be dealt with promptly, the Assured or their    agents are advised to submit all available supporting documents without    delay, including when applicable:- (1) Original policy or certificate of    insurance. (2) Original or copy shipping invoices together with shipping    specification and/or weight notes. (3) Original bill of lading and/or other    contract of carriage. (4) Survey report or other documentary evidence to show    the extent of the loss or damage. (5) Landing account and weight notes at    final destination. (6) Correspondence exchanged with the carriers.</p></td>
</tr>


<tr>
<td width="44%" colspan="5" valign="top" style="border: none; border-right: 1px solid #000;"><p>Signed for    and on behalf of Globe Underwriting Australia</p></td>
<td width="35%" colspan="3" valign="top" style="border: none; border-right: 1px solid #000;"><p>This    Certificate is not valid unless countersigned by a representative of [[medline]] </p></td>
<td width="21%" colspan="4" rowspan="2" valign="top" style="border: none;"><p align="center"><strong>Place of    Issue</strong><br>
  [[medline]]<strong> </strong><br>
  <strong>Date of    Issue</strong><br>
  [[medline]]<strong> </strong></p></td>
</tr>
<tr style="border: none; border-color: #fff;">
<td width="44%" colspan="5" valign="top" style="border: none; border-right: 1px solid #000;"><p align="center"><img src="[[signlink]]" alt="img-2" width="103" height="54"></p></td>
<td width="35%" colspan="3" valign="top" style="border: none; border-color: #fff;"><p>&nbsp;</p></td>
</tr>
</tbody></table>
