@charset "UTF-8";

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    color: rgba(194, 33, 51, 1);
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700,300);

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-family: 'Roboto', sans-serif
}

.title-hero {
    font-weight: 100
}

.title-slide,
.subtitle-slide,
h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
    line-height: 1.1
}

.subtitle-hero {
    font-weight: 400
}

.justify {
    text-align: justify;
    font-size: 0.1px
}

.justify:after {
    content: '';
    display: inline-block;
    width: 100%
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto
}

.col {
    float: left
}

.col-r {
    float: right
}

.col-half {
    width: 50%
}

#top-home-nav {
    width: 53%
}

.col-60 {
    width: 60%
}

.col-40 {
    width: 40%
}

.dt,
.vc {
    display: table
}

.dtc,
.vc-inner,
.vc-bottom {
    display: table-cell
}

.vc {
    height: 100%
}

.vc-inner {
    height: 100%;
    vertical-align: middle
}

.vc-bottom {
    height: 100%;
    vertical-align: bottom
}

.tac {
    text-align: center
}

.mobile-show {
    display: none
}

.header-top-nav,
.mega-menu,
.mega-menu ul,
.generic-menu-top,
.footer-nav {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important
}

p {
    color: #868686
}

a,
.btn {
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

a:hover,
.btn:hover {
    opacity: .7
}

.resize {
    width: 100%;
    height: auto
}

.m-resize {
    max-width: 100%;
    height: auto
}

.btn {
    display: inline-block;
    background-color: rgba(194, 33, 51, 1);
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    padding: 14px 40px;
    margin: 2px 0
}

.btn-1 {
    background-color: #222931
}

.btn-equal {
    width: 240px;
    text-align: center;
    padding-left: 0;
    padding-right: 0
}

.btn-store {
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block
}

input[type=submit].btn {
    padding-top: 12px;
    padding-bottom: 12px
}

input[type=submit].one-row {
    margin-top: 22px
}

.slide-intro {
    color: #444;
    position: relative;
    min-height: 550px
}

.title-hero {
    font-size: 4.5em
}

.subtitle-hero {
    font-size: 1.6em
}

.title-hero,
.subtitle-hero {
    margin: 10px 0
}

.img-slide {
    height: 100vh
}

.img-slide,
.fixed-img-overlay .overlay-slide {
    background-repeat: no-repeat;
    background-position: 50% 15%;
    -webkit-background-size: cover;
    background-size: cover
}

.fixed-img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: none
}

.fixed-img-overlay .overlay-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.title-slide {
    font-size: 2.5em;
    margin: 30px 0
}

.subtitle-slide {
    font-size: 1.4em;
    color: #272e3a
}
.subtitle-slide2{
  line-height: 150% !important;
  font-size: 1.3em;
}

.row-info-icons {
    margin: 10px 0
}

.row-info-icons .subtitle-slide,
.row-info-icons p {
    margin: 5px 0
}

.row-info-icons .col-icon {
    vertical-align: middle;
    padding-right: 15px;
    width: 55px;
    text-align: center
}

.row-info-icons .col-tick {
    vertical-align: top;
    width: 35px
}

.row-info-icons .col-tick img {
    margin-top: 7px
}

.slide-text-holder {
    padding: 70px;
    position: relative;
    background-color: #fff
}

.slide-text-holder .inner-text {
    max-width: 550px
}

.next-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.ios-safari .next-holder {
    bottom: 20px
}

.bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("1PZy4XNUrkU2FdhcJT763IvBy71zstRgd0b4cYOomQn.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0097cf;
    opacity: .5;
}

.intro-text-holder {
  height: 100vh;
  padding-top: 225px;
    position: relative;
    text-align: center;
    z-index: 1
}

blockquote {
    color: #0097cf;
    font-weight: 100;
    font-size: 1.3em;
    margin: 10px 0;
    font-style: italic
}

.author,
.section .author {
    color: #0097cf;
    font-weight: 400;
    font-size: 1.3em;
    margin: 10px 0
}

.homepage-slider header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 0;
    z-index: 5
}

.menu {
    color: rgba(194, 33, 51, 1);
    text-decoration: none;
    font-weight: 700;
    display: inline-block
}

.menu:hover {
    color: rgba(194, 33, 51, .9);
}


.menu span {
    font-size: .9em
}

.menu img {
    margin-right: 10px
}

.home-menu-outside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none
}

.home-menu-outside .container {
    position: relative
}

.home-menu-outside .menu {
    position: absolute;
    top: 25px;
    right: 0;
    color: #000;
    background-color: #fff
}

.header-top-nav li {
    float: left;
    margin-right: 40px
}

.header-top-nav a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: rgba(194, 33, 51, 1);
    font-size: .9em
}

.header-top-nav a:hover {
    color: rgba(194, 33, 51, .9);
}

.intro-menu-holder {
    margin-top: 25px
}

.expanded-menu-holder,
.expanded-form-holder {
    display: none
}

.expanded-menu-holder,
.close-menu-area,
.expanded-menu,
.expanded-form-holder,
.close-form-area,
.expanded-form {
    height: 100%;
    -webkit-backface-visibility: hidden
}

.expanded-menu,
.expanded-form {
    position: relative
}

.expanded-menu-holder {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10
}

.expanded-menu {
    background-color: #222931;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll
}

.close-menu-area {
    background-color: #fff
}

.cta-menu-holder {
    width: 100%
}

.cta-menu-holder a {
    float: left;
    display: block;
    width: 33.33333%;
    padding: 70px 10px;
    text-align: center;
    background-color: #fff;
    text-transform: uppercase;
    color: #222931;
    text-decoration: none;
    border-right: 1px solid #e6e7e8
}

.cta-menu-holder a:hover {
    background-color: rgba(194, 33, 51, 1);
    color: #fff
}

.cta-menu-holder a:nth-child(3) {
    border-right: 0
}

.menu-container-top {
    color: #fff;
    padding: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ios-safari .expanded-menu {
    display: block
}

.ios-safari .menu-container-top {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

.close-menu {
    position: absolute;
    top: 50px;
    right: 50px
}

.mega-menu ul {
    padding-left: 30px
}

.mega-menu>li {
    margin: 30px 0
}

.mega-menu>li>a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 300
}

.has-child img {
    margin-left: 20px
}

.menu-lvl-2 {
    display: none
}

.menu-lvl-2 li {
    margin: 10px 0
}

.menu-lvl-2 a {
    font-size: .9em;
    color: #989dac;
    text-decoration: none
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 10px
}

.form-row {
    margin-bottom: 20px
}

.form-row input[type=text],
.form-row input[type=email],
.form-row input[type=password] {
    width: 100%
}

.row-dark input[type=text],
.row-dark input[type=email],
.row-dark input[type=password] {
    color: #000
}

.form-row .col-half,
.form-row .col-60 {
    padding-right: 20px
}

.required {
    color: rgba(194, 33, 51, 1)
}

.expanded-form-holder {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 11
}

.expanded-form {
    background-color: #222931;
    padding: 30px 60px;
    overflow-y: scroll
}

.close-form-area {
    background-color: #fff
}

.title-expanded-form {
    color: #fff;
    font-weight: 300;
    font-size: 1.4em
}

.expanded-form label {
    color: #fff;
    display: block;
    font-size: .9em
}

.expanded-form input[type=text],
.expanded-form input[type=email],
.expanded-form input[type=password] {
    width: 100%
}

.expanded-form .inner {
    width: 60%
}

.header-push {
    height: 70px
}

.generic-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10
}

.content-side-padding {
    padding-left: 60px;
    padding-right: 60px
}

.content-vert-padding {
    padding-top: 60px;
    padding-bottom: 60px
}

.dark-menu {
    color: #000
}

.logo-2 {
    line-height: 70px
}

.generic-menu-top {
    padding-right: 50px;
    border-right: 1px solid #e1e1e1
}

.generic-menu-top li {
    float: left
}

.generic-menu-top a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    font-size: .9em;
    display: block;
    padding: 0 20px
}

.generic-header .menu,
.generic-menu-top a {
    padding-top: 25px;
    padding-bottom: 25px
}

.generic-header .menu {
    padding-left: 50px;
    padding-right: 20px
}

.footer-top {
    background-color: #f0f2f5;
    padding: 30px 0
}

footer a {
    text-decoration: none
}

.social {
    display: inline-block !important;
    padding-left: 15px !important;
    color: #a4a4a4 !important
}

.footer-bot {
    background-color: #1a1b1f !important;
    padding-top: 30px !important
}

.copyright {
    color: #767676;
    font-size: .8em
}

.link-home img {
    margin-right: 10px
}

.footer-top a {
    color: #000 !important;
    text-transform: uppercase !important;
    font-weight: 400 !important;
    font-size: .9em !important
}

.link-top img {
    margin-left: 10px
}

.footer-nav {
    margin-bottom: 20px !important
}

.footer-nav li {
    float: left;
    margin-right: 40px
}

.footer-nav a {
    color: #f0f2f5 !important;
    font-weight: 100 !important;
    font-size: 1.1em !important
}

.banner {
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 33, 51, 1);
    opacity: .9;
    filter: alpha(opacity=90)
}

.banner .container {
    position: relative;
    z-index: 2;
    color: #fff
}

.banner-title,
.banner-subtitle {
    margin: 10px 0
}

.banner-title {
    font-weight: 100;
    font-size: 4em
}

.banner-subtitle {
    font-weight: 300;
    font-size: 1.4em
}

.inner-padding {
    padding: 60px
}

.col-seperator {
    border-right: 1px solid #ededed
}

.row-text {
    margin-top: 50px;
    margin-bottom: 50px
}

.title-content {
    font-size: 2.5em;
    margin: 20px 0
}

.row-text .title-content {
    margin-top: 0
}

.row-dark {
    background-color: #222931;
    color: #fff
}

.row-dark .subtitle-slide,
.row-dark p {
    color: #fff
}

.row-dark hr {
    border-color: #000
}

.row-shade {
    background-color: #f5f7fa
}

.row-shade .col-seperator {
    border-color: #d7d8da
}

.content-row-dt {
    display: table;
    width: 100%
}

.col-img {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 500px
}

.half-container {
    width: 100%;
    max-width: 600px
}

.link {
    color: rgba(194, 33, 51, 1);
    text-decoration: none;
    text-transform: uppercase
}

.link img {
    margin-left: 5px;
    display: inline-block
}

.img-slick-holder {
    position: relative;
    top: -20px;
    right: 90px;
    width: 810px
}

.dots-move-here {
    position: relative;
    top: -30px
}

.img-slick-holder .slick-dots,
.dots-move-here .slick-dots {
    padding: 0;
    list-style-type: none;
    text-align: center
}

.img-slick-holder .slick-dots li,
.dots-move-here .slick-dots li {
    display: inline-block;
    margin: 5px;
    position: relative
}

.img-slick-holder button,
.dots-move-here button {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: rgba(194, 33, 51, 1);
    text-indent: -9999px;
    border-radius: 50%;
    display: block;
    border: 0;
    padding: 0;
    z-index: 2
}

.img-slick-holder .slick-active:before,
.dots-move-here .slick-active:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    background-color: #98d6ee;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    z-index: 1
}

.row-icon-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px
}

.no-flexbox .row-icon-list {
    display: block
}

.no-flexbox .row-icon-list .column {
    display: inline-block;
    width: 45%
}

.row-icon-list .column {
    text-align: center
}

.row-icon-list .thumb {
    height: 65px
}

.row-icon-list .subtitle-slide {
    margin-top: 10px;
    margin-bottom: 10px
}

.has-tick .row-info-icons {
    margin-top: 30px;
    margin-bottom: 30px
}

.card-price-holder {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.no-flexbox .card-price-holder {
    display: block
}

.card-price {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 40px;
    background-color: #fff
}

.card-price:last-child {
    margin-right: 0
}

.card-price .top {
    background-color: rgba(194, 33, 51, 1);
    color: #fff;
    text-align: center;
    height: 125px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.card-price .package-name {
    background-color: #008dc3
}

.card-price .price-btn {
    background-color: #222931;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0
}

.card-price .package-name,
.card-price .price {
    margin: 0
}

.card-price .package-name {
    font-size: 1.250em;
    padding: 10px 5px
}

.card-price .price {
    font-size: 3.5em;
    font-weight: 400;
    padding: 10px 0
}

.card-price .dollar {
    font-size: .6em;
    vertical-align: top;
    position: relative;
    top: 5px
}

.card-price .middle {
    padding: 15px 15px 70px
}

.card-price .middle p {
    margin: 0
}

.has-timeline {
    position: relative
}

.has-timeline .line {
    width: 1px;
    height: 80%;
    position: absolute;
    top: 0;
    left: 35px;
    z-index: 1;
    background-color: #000
}

.has-timeline .circle-thumb {
    width: 70px;
    height: 70px;
    line-height: 65px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff
}

.has-timeline .subtitle-slide {
    color: rgba(194, 33, 51, 1)
}

.has-timeline .row-info-icons {
    margin: 40px 0;
    position: relative;
    z-index: 2
}

.has-timeline .row-info-icons .dtc {
    vertical-align: top
}

.terms {
    font-size: .7em
}

.content-holder a:not(.btn):not(.price-btn) {
    color: rgba(194, 33, 51, 1);
    text-decoration: none
}

.faq {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8
}

.faq:first-child {
    border-top: 1px solid #e8e8e8
}

.question {
    position: relative;
    margin: 0;
    padding-right: 50px
}

.question a {
    display: block;
    color: rgba(194, 33, 51, 1);
    text-decoration: none;
    font-size: 1.25em
}

.question .expand {
    position: absolute;
    top: 0;
    right: 0
}

.answer {
    width: 80%;
    overflow: hidden
}

.hidden {
    display: none !important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

.hs-form .hs-form-field {
    margin-bottom: 20px
}

.hs-form input[type="text"],
.hs-form input[type="tel"],
.hs-form input[type="email"] {
    padding: 10px;
    width: 100%
}

.hs-form .hs-button {
    display: inline-block;
    background-color: rgba(194, 33, 51, 1);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    padding: 14px 40px;
    margin: 2px 0
}

form.quoteForm {
    position: relative;
    z-index: 5;
    color: #333;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    top: 30px;
    clear: both
}

form.quoteForm .fieldcontain {
    width: 208px;
    margin: 0;
    clear: none;
    float: left
}

form.quoteForm .fieldcontain.to {
    margin-left: 12px
}

form.quoteForm label {
    width: 208px;
    color: #ffffff
}

form.quoteForm input[type="text"] {
    width: 208px
}

form.quoteForm label {
    width: 208px;
    color: #333333
}

form.quoteForm select {
    width: 208px;
    height: 42px;
    color: #333333
}

form.quoteForm select.notIE11 {
    width: 208px;
    height: 42px;
    -webkit-appearance: menulist-button
}

form.quoteForm .required-indicator {
    line-height: 1.6em
}

form.quoteForm fieldset.affiliate {
    margin-top: 1em;
    height: 80px
}

form.quoteForm fieldset.affiliate #jobIdFieldsAlt,
form.quoteForm fieldset.affiliate #jobIdFields,
form.quoteForm fieldset.affiliate #otherAffiliateDiv {
    margin: 0 0 0 12px
}

form.quoteForm fieldset.affiliate #jobIdFieldsAlt,
form.quoteForm fieldset.affiliate #otherAffiliateDiv {
    position: relative
}

form.quoteForm fieldset.affiliate #jobIdFieldsAlt .inline-info,
form.quoteForm fieldset.affiliate #jobIdFieldsAlt .required-indicator,
form.quoteForm fieldset.affiliate #otherAffiliateDiv .inline-info,
form.quoteForm fieldset.affiliate #otherAffiliateDiv .required-indicator {
    position: absolute;
    left: 0;
    top: 38px;
    font-style: italic
}

ul.ui-autocomplete {
    list-style: none;
    background: #ffffff;
    width: 210px;
    border: 1px solid #fffff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
}

ul.ui-autocomplete li a {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -moz-binding: url("resource:/xml/ellipsis.xml#ellipsis");
    color: #333333 !important;
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.8em
}

ul.ui-autocomplete li a:hover {
    color: #0097cf !important;
    background: #eee
}

.next-slide,
.to-top {
    color: rgba(194, 33, 51, 1);
    font-size: .9em;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-repeat: no-repeat;
    margin: 10px 0
}

.next-slide {
    position: relative;
    padding-bottom: 25px
}

.next-slide:after,
.to-top:after {
    font-family: FontAwesome;
    position: absolute;
    font-size: 1.2em;
    left: 48%;
    margin-left: -3px
}

.next-slide:after {
    content: "\f103";
    bottom: -6px
}

.to-top {
    position: relative;
    padding-top: 15px
}

.to-top:after {
    content: "\f102";
    top: -6px
}

.slide-intro .next-slide {
    color: #333;
}
